<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body style="margin: 0; padding: 0; box-sizing: border-box;">
    <main
        style="background-image:url('https://patasbucket.s3.sa-east-1.amazonaws.com/img/video-background.jpg'); background-size: cover; background-repeat: no-repeat;">
        <table
            style="display: flex; flex-direction: column; align-items: center; background-color: rgba(255, 255,255,0.9);">

            <tr
                style="display: flex; justify-content: center; align-items: center; color: black; width: 100%; padding: 1rem 1rem; border-radius: 3%;">
                <td style="font-family: 'Verdana'; font-size: 1.5rem; margin-left: 1rem;">Seja bem-vindo ao <strong
                        style="color: #F7C94F; text-shadow: 1px 1px 1px black;">PATAS</strong></h2>
            </tr>

            <tr style="display: grid; grid-template-columns: 1fr 1fr;">
                <td>
                    <img style="max-width: 640px; max-height: 480px;" src="https://patasbucket.s3.sa-east-1.amazonaws.com/img/banana01-daieny.png">
                </td>
            </tr>
            
                    <tr style="display: flex; justify-content: center; align-items: flex-start; flex-direction: column; font-family: 'Verdana'; font-size: 1rem; color: black; text-shadow: 1px 1px 1px white;">
                        <td><h3 style="font-family: 'Verdana'; font-size: 1.5rem;">A sua inscrição está confirmada!</h3></td>
                    </tr>
                    
                        <tr><td><h4 style="font-family: 'Verdana'; font-size: 1rem; color: black; text-shadow: 1px 1px 1px white;">Nome completo: </h4></tr></td>
                        <tr><td><h4 style="font-family: 'Verdana'; font-size: 1rem; color: black; text-shadow: 1px 1px 1px white;">Tipo do Ingresso: </h4></tr></td>
                        <tr><td><h4 style="font-family: 'Verdana'; font-size: 1rem; color: black; text-shadow: 1px 1px 1px white;">E-mail: </h4></tr></td>
                        <tr><td><p style="font-family: 'Verdana'; font-size: 1rem; color: black; text-shadow: 1px 1px 1px white;">Agora para receber a sua badge personalizada e sua camiseta personalizada (apenas Prata e Ouro) clique no link abaixo.</p></td></tr>
                        <tr><td><br/><a style="font-family: 'Verdana'; font-size: 1rem; color: black; text-shadow: 1px 1px 1px white;padding: 1rem; text-decoration: none; color: black; background-color:#F7C94F; font-weight: bold;"
                            href="https://patas.site/badge">Solicitar a minha badge</a></td></tr>   
        </table>
    </main>
</body>

</html>